<%- include("partials/header") -%>
    <div>
        <h1>About Me</h1>
        <p>
            My name is Duc Anh Le (Andre). I am an aspired data-scientist and web developer.

        </p>

        <h3>Skills and knowledge:</h3>
        <ul>
            <li>
                Programming: Python, JavaScript, C#, Ruby, Node.js
            </li>
            <li>
                Database: Microsoft SQL, MongoDB
            </li>
            <li>
                Data analytics: Python Pandas package, Power BI, Tableau, SAS, Stata, R
            </li>
        </ul>
        <h1>About this project</h1>
        <p>This corona-case map is built using Power BI - data is scrapped from
            <a href="https://infogram.com/1pwemj1x57yd1lhvnmmeg9rj1yt96l9kp57?fbclid=IwAR1djQLgwCSZu9LNwiymVHV4a75PzCKGpkd4tGw_YlW4zsYmm-AmUJoPq28"> 
                Infogram
            </a> and updated frequently</p>
    </div>
    <%- include("partials/footer") -%>