<%- include("partials/header") -%>

    <h1 class="homepage-text" name="pagetitle">Corona confirmed case in Victoria, Australia </h1>
    <p class="homepage-text" name="homepagecontent">
        <%= HomeEJScontent %>
    </p>
    <%# redirect to home route %>
        <!-- <form class="item" action="/" method="post">
            <button type="submit" class="btn btn-dark btn-lg compose-btn" name="btnToCompose"> New post </button>
        </form> -->

        <hr>
        <div>
            <iframe width="1140" height="450" src="https://app.powerbi.com/reportEmbed?reportId=afc94e5c-b005-4c6e-b88b-036be2522e60&autoAuth=true&ctid=d02378ec-1688-46d5-8540-1c28b5f470f6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWVhc3QtYXNpYS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D"
                frameborder="0" allowFullScreen="true"></iframe>
        </div>

        <%- include("partials/footer") -%>